body {
  margin: 0;
  font-family: -apple-system, BlinkMacSystemFont, 'Segoe UI', 'Roboto', 'Oxygen',
    'Ubuntu', 'Cantarell', 'Fira Sans', 'Droid Sans', 'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;
}
a {
	color: inherit;
	text-decoration: none;
}
code {
  font-family: source-code-pro, Menlo, Monaco, Consolas, 'Courier New',
    monospace;
}
.route3 {
	flex: 1 0;
}

.route3_active {
	text-decoration: underline;
}
a {
	text-decoration: none;
}

.wrap {
	padding: 50px 0;
	overflow: hidden;
	display: flex;
	flex-direction: column;
	justify-content: center;
	align-items: center;
}

.wrapper {
	width: 700px;
	transition: all .7s linear;
}

.title {
	text-transform: capitalize;
	font-size: 18px;
}

.items_wrap {
	margin: 0;
	padding: 0;
	list-style-type: none;
	border-radius: 4px;
	box-shadow: 0 0 10px 3px rgba(71, 71, 71, 0.4);
	overflow: hidden;
}

.item,
.item-nav {
	padding: 10px;
	margin: 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-decoration: none;
	text-transform: capitalize;
	color: black;
	font-weight: 500;
	transition: all .3s linear;
}

.item:hover {
	background-color: rgba(75, 75, 75, 0.205);
}
.about_president-wrap{
	padding: 10px;
	display: flex;
	justify-content: start;
	align-items: stretch;
}
.right-side {
	padding: 0 0 0 50px;
}
.img {
	flex: 0 0 220px;
	height: 270px;
}
.vice {
	padding: 0 0 0 50px;
}

.txt {
	margin: 0 0 15px 0;
}

.back {
	display: inline-block;
	margin: 0 0 10px 0;
	padding: .5em 1em;
	text-decoration: none;
	font-size: 16px;
	font-weight: 900;
	color: white;
	border: 1px solid grey;
	background-color:green;
	border-radius: .2em;
	cursor: pointer;
}

.back > i {
	padding: 0 10px 0 0;
}

.top-nav {
	flex: 0 0 70%;
	margin: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	padding: 20px;
	list-style-type: none;
}

.item-nav {
	color: white;
	background-color: rgb(66, 63, 63);
	margin: 0 10px 0 0;
}

.item-nav:hover {
	background-color: rgb(62, 150, 21);
}

.active {
	background-color: rgb(14, 160, 14);
}

* {
	box-sizing: border-box;
}

.useef-wrap {
	width: 300px;
	padding: 10px;
	background-color: rgb(36, 35, 35);
	border-radius: 5px;

	display: flex;
	flex-wrap: wrap;
	justify-content: space-between;
	align-items: center;
}

.useef-wrap > *:not(:last-child) {
	margin: 0 0 10px 0;
}

.u-e-title {
	padding: .5em;
	text-align: center;
	font-size: 30px;
	flex: 0 0 100%;
	color: burlywood;
}

.btn {
	flex: 0 0 48%;
	padding: .6em 1em;
	text-transform: capitalize;
	color: white;
	background-color: blue;
	border-radius: .3em;
	cursor: pointer;
	outline: none;
	border: none;
}

.reset {
	flex:  0 0 100%;
}

.pizza-wrap {
	position: relative;
}

.header {
	background-color: rgb(12, 5, 31);
}

.head-link {
	color: white;
	font-size: 16px;
	padding: .5em 1em;
	text-transform: capitalize;
	text-decoration: none;
	display: inline-block;
}

.head-link_active {
	text-decoration: underline;
	color: rgb(117, 75, 75);
}

.content {
	padding: 0 0 50px 0;
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
	min-height: 90vh;
}
.code {
	color: green;
	padding: 10px;
}
.content-images {
	flex: 0 0 60%;
}

.content-order {
	flex: 0 0 35%;
}

.container {
	max-width: 1170px;
	margin: 0 auto;
}

.content-top {
	flex: 0 0 100%;
	padding: 20px 0;
	font-size: 16px;
	text-transform: capitalize;
	display: flex;
	justify-content: space-between;
	align-items: center;
}

.pizza-title {
	margin: 0;
	text-align: center;
	text-transform: capitalize;
}
.title-opacity {
	opacity: .7;
}

.price {
	padding: .3em .5em;
	border-radius: .5em;
	color: white;
	background-color: rgb(53, 50, 50);
}

.pizza-btn {
	border: none;
	outline: none;
	padding: .5em 1em;
	border-radius: .2em;
	text-transform: capitalize;
	cursor: pointer;
}

.btn_golden {
	background-color: rgb(240, 225, 21);
}

.content-bttm {
	border: 1px solid grey;
	border-radius: 3px;
}

.content-bttm > *:not(:first-child) {
	border-top: 1px solid grey;
}

.add-products {
	display: flex;
	justify-content: stretch;
	align-items: center;
	padding: 10px 20px;
}

.name {
	font-weight: 700;
	margin: 0 0 5px 0;
	text-transform: capitalize;
}

.left {
	flex: 0 0 30%;
}

.prod-price {
	color: grey;
}
.right {
	flex: 1 0;
	display: flex;
	justify-content: center;
	align-items: stretch;
}
.add-btn {
	display: flex;
	justify-content: center;
	align-items: center;
	font-size: 20px;
	padding: 10px;
	border-radius: 3px;
	color: white;
	border: none;
	cursor: pointer;
	text-transform: capitalize;
}

.amount {
	padding: 10px 15px;
	border-radius: 3px;
	border: 1px solid rgb(92, 92, 92);
	background-color: rgb(192, 189, 189);
}

.add-btn_red {
	background-color: red;
}
.add-btn_red:focus {
	box-shadow: 0 0 3px 2px rgb(206, 82, 82);
}
.add-btn_green {
	background-color: green;
}
.add-btn_green:focus {
	box-shadow: 0 0 3px 2px rgb(50, 211, 103);
}
.add-btn_blue {
	background-color: blue;
}
.add-btn_blue:focus {
	box-shadow: 0 0 3px 2px rgb(56, 74, 230);
}
.add-btn_black {
	background-color: black;
}
.add-btn_black:focus {
	box-shadow: 0 0 3px 2px rgb(19, 19, 19);
}

.total-price {
	display: flex;
	justify-content: space-around;
	align-items: center;
	padding: 10px;
	text-transform: capitalize;
}

.total-price > span:last-child {
	font-weight: 700;
}

.saving-order {
	padding: 10px;
	display: flex;
	justify-content: space-around;
	align-items: center;
}

.ingredients-wrap {
	display: flex;
	flex-direction: column;
	justify-content: flex-start;
	align-items: center;
}

.checkout {
	width: 800px;
}

.checkout-form {
	margin: 20px 0 0 0;
	border-radius: 3px;
	overflow: hidden;
}

.mr {
	margin: 5px;
}
.back {
	position: absolute;
	top: 5px;
	right: 5px;
	display: flex;
	justify-content: center;
	align-items: center;
	width: 30px;
	height: 30px;
	border: 1px solid black;
	border-radius: 50%;
}
.form-item {
	margin: 0 0 15px 0;
	display: flex;
	justify-content: space-between;
	align-items: center;
	text-transform: capitalize;
}

.lbl {
	padding: 0 50px 0 0;
}

.inp,
.select,
.inpCoupon,
.txtArea {
	flex: 1 0;
	padding: 10px;
	outline: none;
	border: 1px solid grey;
	border-radius: 3px;
}
.inpCoupon {
	background-color: rgba(124, 124, 124, 0.377);
}
.lblChbx {
	flex: 1 0;
}

.inpChbx {
	padding: 10px;
	width: 30px;
	height: 30px;
}

.rdo-wrap {
	flex: 1 0;
}
.txtArea {
	min-height: 60px;
}

.checkout-btns {
	justify-content: flex-end;
}

.checkout-btns > *:not(:first-child) {
	margin: 0 0 0 15px;
}

.ingredients-content,
.content-images {
	display: flex;
	flex-wrap: wrap;
	justify-content: start;
	align-items: start;
}
.ingredients-content {
	justify-content: center;
}

.image {
	margin: 20px;
	flex: 0 0 150px;
	height: 150px;
	border: 1px solid black;
}

.check-wrap {
	position: absolute;
	top: 0;
	left: 0;
	display: flex;
	justify-content: center;
	align-items: center;
	background-color: rgba(0, 0, 0, 0.3);
	width: 100%;
	height: 100vh;
	z-index: 99;
}

.check-card {
	position: relative;
	background-color: #fff;
	width: 300px;
	padding: 20px;
	text-align: center;
}

.check-title {
	text-transform: capitalize;
}
.ingredients-list > li {
	text-transform: capitalize;
}
.check-btns {
	display: flex;
	justify-content: space-between;
	align-items: flex-start;
}